<!--The content below is only a placeholder and can be replaced.-->

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>{{ title }}</strong>
            </a>
        </div>
    </div>
</header>


<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to {{ title }}!</h1>

            <img class="rotate" width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            <img class="rotate" width="160" alt="Angular Logo" src="https://getbootstrap.com/docs/4.2/assets/brand/bootstrap-solid.svg">
            
            <p class="lead text-muted">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, dolorem. Soluta, dicta quam, debitis eos porro hic harum inventore facilis assumenda atque magnam veniam officia. Consequatur unde quis mollitia omnis? 
            </p>
        </div><button class="btn btn-primary">Sample button</button>
    </section>


    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h2>Sample content</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, numquam.</p>
            </div>
            <div class="col-md-4">
                <h2>Sample content</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, numquam.</p>
            </div>
            <div class="col-md-4">
                <h2>Sample content</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, numquam.</p>
            </div>
        </div>
    </div>
</main>


<footer class="text-center mt-5">
    &copy; {{ title }}
</footer>